    #   -r requirements-dev-minimal.txt
    #   -r requirements-dev-minimal.txt
    #   -r requirements-dev-minimal.txt
    #   -r requirements-dev-minimal.txt
    #   -r requirements-dev-minimal.txt
    #   -r requirements-dev-minimal.txt
    #   cfgv
    #   cryptography
    #   jsonschema
    #   jsonschema
    #   jsonschema
    #   ldap3
    #   ocflib
    #   ocflib
    #   ocflib
    #   ocflib
    #   pre-commit
    #   pre-commit
    #   pygithub
    #   pygithub
    #   pynacl
    #   pysnmp
    #   python-discovery
    #   python-discovery
    #   requests
    #   virtualenv
    #   virtualenv
    # via
    # via
    # via
    # via
    # via
    # via
    # via
    # via
    # via
    # via
    # via
    # via
    # via -r requirements-dev-minimal.txt
    # via -r requirements-dev-minimal.txt
    # via -r requirements-dev-minimal.txt
    # via -r requirements-dev-minimal.txt
    # via -r requirements-dev-minimal.txt
    # via cffi
    # via jinja2
    # via jsonschema
    # via ocflib
    # via ocflib
    # via ocflib
    # via ocflib
    # via ocflib
    # via ocflib
    # via ocflib
    # via ocflib
    # via ocflib
    # via ocflib
    # via ocflib
    # via pexpect
    # via pre-commit
    # via pre-commit
    # via pre-commit
    # via pygithub
    # via pygithub
    # via pygithub
    # via pyjwt
    # via pysmi
    # via pysnmp
    # via pysnmp
    # via pytest
    # via pytest
    # via pytest
    # via pytest
    # via requests
    # via requests
    # via requests
    # via sqlalchemy
    # via virtualenv
    # via virtualenv
# This file was autogenerated by uv via the following command:
#    uv pip compile requirements-dev-minimal.txt -o requirements-dev.txt
attrs==26.1.0
cached-property==1.5.2
certifi==2026.4.22
cffi==2.0.0
cfgv==2.0.1
charset-normalizer==3.4.7
cryptography==47.0.0
distlib==0.4.0
dnspython==2.8.0
filelock==3.29.0
greenlet==3.5.0
identify==1.5.13
idna==2.10
iniconfig==2.3.0
jinja2==3.1.6
jsonschema==3.2.0
ldap3==2.9.1
markupsafe==3.0.3
nodeenv==1.5.0
ocflib==2026.4.10.post2
packaging==26.2
pexpect==4.9.0
platformdirs==4.9.6
pluggy==1.6.0
ply==3.11
pre-commit==4.6.0
ptyprocess==0.7.0
pyasn1==0.4.8
pycparser==3.0
pycryptodome==3.23.0
pycryptodomex==3.9.9
pyfakefs==6.2.0
pygithub==2.9.1
pygments==2.20.0
pyjwt==2.12.1
pymysql==1.1.3
pynacl==1.6.2
pyrsistent==0.17.3
pysmi==0.3.4
pysnmp==4.4.12
pytest==9.0.3
python-discovery==1.2.2
pyyaml==6.0.3
redis==7.4.0
requests==2.33.1
setuptools==82.0.1
six==1.15.0
sqlalchemy==1.4.54
typing-extensions==4.15.0
urllib3==2.6.3
virtualenv==21.3.0
zxcvbn==4.5.0
